html{
	font-size: 16px;
}

body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}


h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875;
	line-height: 1.313em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	width: 100%;
	display:flex;
	justify-content:center;
	align-items: center;
	flex-flow: column;
}

header h1 {
	text-align: center;
	margin: 0;
	padding: 38px 20px 20px 20px; 
	border-bottom: 3px solid #77a466;
	width: 100%;
}
header h1 span {
	color: #77a466;
}

nav {
		padding: 46px 0;
        display: flex;
		align-content: space-between;
		align-items: center;
		flex-flow: column;
		width: 100%;
}
nav a {
	text-transform: uppercase;
	font-weight:700;
	margin: 0;
	padding: 10px;
	text-decoration: none;
	color:#77a466;
	
}
/*header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 0 10px;
	list-style: none;
	align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;

}*/

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: inherit;
}


.section-two h4,
.section-three h4 {
	padding: inherit;
}

.menu {
	list-style: none;
	padding: 0px;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: inherit;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: inherit;
}

/*The widths are in a percentage!*/
footer {
	
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	width:100%;
	font-size: 1.25em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media all and (min-width:768px) {
    /* Tablet styles here */
	.bottom-section{
	    display: flex;
	    justify-content: space-between;
	    align-items: stretch;
		flex-flow: nowrap;
		border-top: 1px solid #eee;
	}
	.section-one,
    .section-two,
    .section-three {
		border-top: none;
        flex-basis: 30%;
    }

    .section-two {
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;
        padding: 0 20px;
    }
}
 
@media all and (min-width:1200px) {
	/* Desktop styles here */
	header{
		display: flex;
		justify-content:space-between;
		align-items:center;
		flex-flow: nowrap;

	}

	header h1 {
		border-bottom: none;
		padding: 0;
		text-align:start;
		width: 50%;
	}

	nav {
		justify-content:space-between; 
		flex-flow: nowrap;
		width:50%;
	}
}	